.big{
  width: 300px;
  height: 300px;
}
.primary-color{
  background-color: aquamarine;
  border: solid mediumaquamarine 1px;
  opacity: 0.8;
}
.primary-color:hover{
  background-color: #0c4910;
}
.left{
  position: fixed;
  left: 12%;
  top: 15%;
}
.right{
  position: fixed;
  right: 12%;
  top: 15%;
}
.f-font{
  font-family: 'Amatic SC', cursive;
  font-size: 10vh;
  color: #0c4910;
  text-decoration: none;
}
.f-font:hover{
  color: snow;
}
