.garbage-zone-info {
  width: 30%;
  margin-left: 10px;
  margin-top: 20px;
  color: whitesmoke;
}

.header {
  font-size: 30px;
  font-weight: bold;
}

.garbage-zone-info h1 {
  margin-left: 20px;
  margin-top: 30px;
}

.garbage-zone-info p {
  font-size: 20px;
}

.garbage-zone-info img {
  width: 500px;
  height: 400px;
}

.inner {
  margin-left: 30px;
}
