<div class="parent">
  <div class="center">
    <h1><b>Додади нова депонија</b></h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="cityId">Град</label>
        <select formControlName="cityId" class="form-control" id="cityId" name="cityId" required [title]="'Избери град'">
          <option value="">-- Изберете град --</option>
          <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="coordinates">Координати</label>
        <input formControlName="coordinates" type="text" class="form-control" id="coordinates" name="coordinates">
      </div>

      <div class="form-group">
        <label for="description">Опис</label>
        <textarea formControlName="description" cols="5" class="form-control tall-box" id="description" name="description"></textarea>
      </div>

      <div class="form-group upload">
        <label for="image">Прикачи слика</label>
        <input type="file" class="form-control" id="image" name="image"
               [disabled]="this.uploaded"
               (change)="onFileChanged($event)"/>
        <span *ngIf="uploaded">Сликата е прикачена.</span>
        <button type="button" *ngIf="this.selectedFile && !uploaded" class="btn btn-primary" (click)="onUpload()">Upload</button>
      </div>

      <button type="submit" class="btn btn-lg w-100 btn-success" [disabled]="!form.valid">Submit</button>
    </form>
  </div>
</div>
